* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth !important;
}

/********************************/
/* REUSABLE ELEMENTS */
/********************************/

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: 4.6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #444;
  letter-spacing: 2px;
}

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.para-regular {
  font-size: 2rem;
  line-height: 1.8;
  color: #555;
}

.para-light {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
}

.grid {
  display: grid;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}
